.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid rgba(3, 128, 252, 0.8);
}

.recovered {
    border-bottom: 10px solid rgba(128, 252, 3, 0.8);
}

.deaths {
    border-bottom: 10px solid rgba(252, 3, 44, 0.8);
}

@media(max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }
}